:root {
    --primary-color: #2A5298;
    --secondary-color: #F4D03F;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Merriweather', serif;
    color: white; /* Ensures visibility against the primary background */
}

h2 {
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 4px;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}