body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

main {
    max-width: 450px;
    margin: 20px auto;
}

h1 {
    color: #333;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px auto;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}